@use "../../scss/utils" as *;
@use "../../scss/vars" as *;

.container {
  width: 100%;
}
.task {
  @include ad-value("height", 48, 41, 0, 1600, 1);
  background: #fff;
  color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  @include ad-value("font-size", 14.5, 13, 0, 1600, 1);
}
