@use "../../../../../scss/utils" as *;
@use "../../../../../scss/vars" as *;

.container {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    aspect-ratio: 1;
    opacity: 1;
    will-change: scale, opacity;
    scale: 1;
    cursor: default;
    @media (hover: hover) and (pointer: fine) {
      cursor: pointer;
    }
  }

  .itemOk {
    color: gray;
    background: $gray1;
    pointer-events: none !important;
  }

  .itemHidden {
    scale: 0;
    opacity: 0;
  }

  .itemSelect {
    background: $blue1 !important;
  }
}
.contNone {
  pointer-events: none;
}
