@use "../../scss/utils" as *;
@use "../../scss/vars" as *;

.header {
  display: flex;
  @include ad-value("height", 44, 40, 0, 1600, 1);
  width: 100%;
  @include ad-value("margin-bottom", 14, 10, 0, 1600, 1);
  align-items: center;
}

.title {
  @include ad-value("font-size", 26, 22, 0, 1600, 1);
  font-weight: 600;
  @include ad-value("letter-spacing", -7, -4.5, 0, 1600, 1);
  transform: scale(0);
  color: #000;
  opacity: 0;
  @include ad-value("margin-right", 7, 5, 0, 1600, 1);
  transform-origin: center center;
}
@keyframes title {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.emodj {
  @include ad-value("font-size", 18, 16, 0, 1600, 1);
  flex: 1 1 auto;
}
img {
  @include ad-value("height", 28, 24, 0, 1600, 1);
}

.buttonCont {
  display: flex;
  position: relative;
  height: 100%;
}

.menu {
  z-index: 0;
  position: absolute;
  top: 10px;
  overflow: hidden;
  width: 20%;
  scale: 0.7;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: scale 0.6s cubic-bezier(0.5, -0.4, 0.4, 1) 0s,
    top 0.5s cubic-bezier(0.5, -0.4, 0.4, 1) 0.3s,
    width 0.5s cubic-bezier(0.5, -0.4, 0.4, 1) 0.1s,
    height 0.5s $ease-content 0.3s,
    opacity 0.3s cubic-bezier(0.5, -0.4, 0.4, 1) 0.4s;

  p {
    opacity: 0;
    transition: 0.4s ease 0s;
  }
}

.menuActive {
  opacity: 1;
  transition: scale 0.6s $ease-content 0.3s, top 0.5s $ease-content,
    width 0.5s $ease-content 0.25s, height 0.5s $ease-content 0.1s,
    opacity 0.3s $ease-content 0.1s;
  scale: 1;
  width: 100%;
  height: 400%;
  @include ad-value("top", 51, 45, 0, 1600, 1);

  p {
    transition: 0.4s ease 0.6s;
    opacity: 1;
  }
}
